*{margin:0; padding:0;}
#nav-bar{background-color:#F4AF1B; position: sticky; top:0; z-index:10; float: right;}
.navbar{padding: 0 !important;}
.navbar-nav li{padding: 0 10px;}
.navbar-nav li a{color:rgb(0, 0, 0) !important; font-weight:600; float:right; text-align:left;}
.navbar-nav li a:hover{color:rgb(255, 255, 255) !important;}
.navbar-brand{font-size: 1.5rem; color: #000000!important;}
.nav-link{float: right; color: #000000!important;}
.nav-link:hover{background-color: #00154f;}
#main{text-align: center;background-color:#00154f;}
.my-info{padding: 2rem 5rem;}
.btn-info{padding: 1rem 1.2rem; background-color: rgb(0, 0, 0)!important; color: #fff!important; margin-left: 5px; padding: 0.75rem; transition: all 0.3s;}
.btn-info:hover{background-color: rgb(255, 255, 255)!important;color: black!important;}
.table-1{color: rgb(255, 255, 255);background-color: rgb(68, 60, 60);}
.table-2{color: rgb(255, 255, 255);background-color: rgb(47, 44, 44);}
.full-table{color: red; background-color: #ADEFD1FF;}
